*{
    border: 1px solid black;
}

section{
    display :flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.guess{
    border : 2px solid tomato;
    display :flex;
    justify-content: space-between;
    align-self: center;
    width : 400px;
    margin : 20px;
}

.hole{
    border : 1px solid black;
    border-radius: 50%;
    padding : 10px;

}

.selected{
    border : 2px solid rebeccapurple;
}

.blocked{
    pointer-events: none;
}

.color{
    border : 1px solid black;
    border-radius: 50%;
    padding : 10px;
}

.color-section{
    display : flex;
}

.white{
    background-color: white;
}

.violet{
    background-color: rebeccapurple;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}
